<div
  style="
    background: whitesmoke;
    width: 100%;
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
  "
>
  <div class="container">
    <h1 style="color: black">Bruno's Tech</h1>
    <div id="carousel">
      <figure><img src="assets/techLogos/angular.svg" alt="" /></figure>
      <figure>
        <img src="assets/techLogos/Firebase_Logo.svg" alt="" />
      </figure>
      <figure><img src="assets/techLogos/nodejs.svg" alt="" /></figure>
      <figure><img src="assets/techLogos/typescript.svg" alt="" /></figure>

      <figure><img src="assets/techLogos/git.svg" alt="" /></figure>
      <figure><img src="assets/techLogos/github-icon.svg" alt="" /></figure>
      <figure><img src="assets/techLogos/npm.svg" alt="" /></figure>
      <figure><img src="assets/techLogos/vs-code.svg" alt="" /></figure>
      <figure><img src="assets/techLogos/express.svg" alt="" /></figure>
    </div>
  </div>
</div>
