:root {
  --link: #ff834f;
}

.styledLink {
  color: var(--link);
  text-decoration: none;
}
.activeLink {
  font-weight: bold;
}

.pointsBG {
  background: url("/assets/svgBackgrounds/points.svg");
}
