<mat-toolbar class="appToolbar">
  <a routerLink="/" class="logoWrapper">
    <img
      src="assets/icons/brunoLogoV2.svg"
      alt="Bruno Logo"
      style="max-height: 45px; padding-right: 2ch; filter: hue-rotate(0deg)"
    />
  </a>

  <a routerLink="/welcome" routerLinkActive="activeLink" class="styledLink"
    >Home</a
  >

  <a routerLink="/online-cv" routerLinkActive="activeLink" class="styledLink"
    >CV</a
  >

  <!--

  <a routerLink="/settings" routerLinkActive="activeLink" class="styledLink"
    >Settings</a
  >

-->

  [TODO]: compress images!
</mat-toolbar>

<app-curve-toolbar
  [config]="{
    toolbarStyle: {
      height: '50px',
      background: 'rgb(234 213 21)'
    }
  }"
></app-curve-toolbar>

[THIS PAGE IS STILL IN DEVELOPMENT]

<router-outlet></router-outlet>
