mat-toolbar a {
  padding: 5px 16px;
}

.appToolbar {
  z-index: 9;
  position: sticky;
  top: 0;
  background: rgb(18 18 18 / 80%);
  backdrop-filter: blur(5px);
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
