<p>welcome-page works!</p>
<section intro></section>

<section timeline></section>
<section myEducation></section>
<section myProgrammingExperience></section>

<section imageEditing></section>

<section paypal>paypal</section>

<mat-accordion>
  Personal Life

  <!--MT HUSBAND-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> My husband </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <section myHusband></section>
  </mat-expansion-panel>

  <!--MT CAT-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> My cat </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <section myCat></section>
  </mat-expansion-panel>
</mat-accordion>
