<mat-toolbar>
  <mat-icon class="inlineIcon">school</mat-icon> <span>Education</span>
</mat-toolbar>
<pre>
    Education

GCSEs (at Seaford Head School):
Physics: A
Business and Communications Systems: B
Business Studies: B
Spanish: B
History: B
English Literature: B
English Language: C
Chemistry: B
Maths: C
Biology: C
ICT: B
Religious Studies: B
OCR Level 2 National First Award in ICT: Merit
Sport: Pass at level 2

College (at BRIGHTON, HOVE & SUSSEX VI FORM COLLEGE - BHASVIC):
Graphics Design: B
Philosophy: E
Applied Law (QCF): Distinction*

Apprenticeship (at CD Automation UK):
Level 1 Diploma in Business Administration 

Full time at CD Automation UK (after apprenticeship)
Development of in-house CRM and Order Processing System,
to be submitted to ISO 9000 certification.

Full Stack Web Development
(Angular, Firebase, Google Cloud Platform, Azure)

</pre>
