/* You can add global styles to this file, and also import other style files */
// @import "app/theme/appTheme.css";
// @import "app/sharedStyles/sections.css";

@use "app/theme/appTheme.scss";

html,
body {
  margin: 0;
}

.page-flex {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inlineIcon {
  padding-right: 0.5ch;
}
